.VegListItem {

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: rgba(255, 255, 255, 0.285);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 4vmin;
}

.VegListItem .photo {
  height: 10vw;
  width: 38vw;
  object-fit: cover;
  font-size: 4vw;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}


.VegListItem .name {
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  color: #ee2e0f;
}

