img {
    margin: 1px;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.209);
}


.Pictures {
    margin: 5px;
    margin-right: 5px;
    width: 22vmin;
    height: 90vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



.Board {
    width: 10vmin;
    height: 10vmin;
    border: 3px solid rgba(0, 0, 0, 0.467);
    padding: 1vmin;    
}

.BoardGridContainer {
    background-image: url(https://i.imgur.com/Gi9emOp.jpg);
    margin-top: 10vmin;
    margin-left: 10vmin;
    border: 5px, solid black;
    border-radius: 2vmin;
    display: grid;
    width: 110vmin;
    height: 150vmin;
    grid-template-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
    grid-template-rows: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
}
.PictureListText {
    color: rgb(240, 203, 188);
}

.PictureListContainer {
    padding: 1vmin;
    margin-right: 1vmin;
    margin-bottom: 6.9vmin;
    width: 10vmin;
    height: 10vmin;
    color: rgb(240, 203, 188);
    font-size: 4vmin;
    /* border: 2px solid rgba(0, 0, 0, 0.209); */
}
/* 
background source code:
https://www.myfreetextures.com/seven-free-grass-textures-or-lawn-background-images/ */