.ladyBug {
  top: 2vmin;
  left: 3vmin;
  height: 18vmin;
  width: 18vmin;
  font-size: 13vmin;
  position: relative;
  transition: width 2s, height 2s, transform 2s;
  z-index: 10;
}


.Logo {
  height: 11vmin;
  width: 9.5vmin;
  display: flex;
  position: absolute;
  top: 1.2vmin;
  left: 2.2vmin;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100% 100% 150% 150%;
  background-color: 
#f03a17;
  color: black;
  font-size: 2.1vmin;
  border: .6vmin solid black;
  margin-left: 2vmin;
  margin-top: 5vmin;
  /* animation-name: logo;
  animation-duration: 5s; */
}

/* @keyframes Logo {
  0%   {background-color:red; left:0vmin;}
  25%  {background-color:yellow; left:50vmin;}
  50%  {background-color:blue; left:100vmin;}
  75%  {background-color:green; left:175vmin;}
  100% {background-color:red; left:199vmin;} 
} */

.ladyBug:hover {
  transform: rotate(360deg);
}

