:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Zen Loop', cursive;
  font-weight: 900;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-image: url(https://i.imgur.com/MSlfipr.jpg);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

/* code snippet from: https://codepen.io/storkhuset/pen/RwKYNGJ */

.container {
  position: relative;
  background: transparent;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fly;
  margin-top: 130vmin;
  position: relative;
  animation-name: fly;
  animation-duration: 10s;
  animation-delay: 20s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  z-index: 20;
}

.body {
  position: absolute;
  width: 150px;
  height: 80px;
  background: yellow;
  border-radius: 40px;
  display: flex;
  overflow: hidden;
  z-index: 10;
}

.stripe {
  height: 100%;
  width: 15px;
  background: black;
  margin-left: 15px;
}

.eyes {
  display: flex;
  flex-direction: row;
  margin: 5px 5px auto 30px;
}

.eye {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}

.pupil {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  margin: 5px 5px auto 15px;
}

.mouth {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid black;
  margin: 15px 5px auto 90px;
  transform: rotate(20deg);
}

.wings {
  position: absolute;
  transform: rotate(-20deg) translateX(-20px);
  z-index: 20;
}

.wings.front {
  margin-right: 150px;
  margin-bottom: 200px;
}
.wing {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.8);
  border-radius: 50px 50px 0 50px;
}

.w1 {
  animation-name: flap;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
}


.w2 {
  animation-name: flap;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  z-index: 5;
}

.gadd {
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:50px solid black; 
  left: 180px
}

@keyframes flap {
  0%, 100% {
    transform-origin: bottom right;
    transform: rotate(20deg) translateY(20px) translateX(-25px);
  }
  
  50% {
    transform-origin: bottom right;
    transform: rotate(60deg) translateY(20px) translateX(-25px);
  }
}

/* end of code snippet from: https://codepen.io/storkhuset/pen/RwKYNGJ */


@keyframes fly {
  0%   {left:0px; top:0px;}
  25%  {left:400px; top:-2000px;}
  50%  {left:800px; top:-1500px;}
  75%  {left:200px; top:-1000px;}
  100% {left:0px; top:0px;}
} 